{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block page_css %}
<!-- Use your existing styles -->
<link rel="stylesheet" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="{% static 'plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'styles/categories.css' %}">
<link rel="stylesheet" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/responsive.css' %}">

<style>
  .pt-5, .py-5 { padding-top: 5rem !important; }
  .main_nav ul li a { color: #000; }
  .header { color: white; background: transparent; position: fixed }
  .header.scrolled { color: black; }
  .logo a, .header.scrolled .logo a { color: black; }
  .header .burger_container div { background: black; }
  .burger_container:hover div { background: #937c6f; }



  .checkout_container {
    margin-top: 10rem;
  }

  /* .quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 100px;
  justify-content: space-between;
} */

    /* 

.qty-btn {
  background: #f7f7f7;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.qty-input {
  width: 30px;
  text-align: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background: #f7f7f7;
}



.cart-right {
   margin-left: 31px;
}

.quantity-box input { 
    padding: 1px;
} */
</style>
<style>
  /* .checkout_container {
    margin-top: 10rem;
  }

  .quantity-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 100px;
    justify-content: space-between;
  }

  .qty-btn {
    background: #f7f7f7;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
  }

  .qty-input {
    width: 30px;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background: #f7f7f7;
  }

  .cart-right {
    margin-left: 31px;
  } */
</style>
{% endblock page_css %}

{% block content %}
<body>
  <div class="checkout_container">
    <div class="checkout-header">
      <button onclick="window.location.href='{% url 'billing_address' %}'">PROCEED TO CHECKOUT</button>
      <a href="/">Continue Shopping</a>
    </div>

    <h2>SHOPPING BAG (<span id="itemCount">{{ TotalCartItems }}</span>)</h2>

    <div id="cartItems">
      {% if carts %}
        {% for item in carts %}
          <div class="cart-item">
            <div class="cart-left">
              <a href="/product/{{ item.product.id }}/">
                <img src="{{ item.product.image1.url }}" alt="{{ item.product.title }}" />
              </a>
              <div class="cart-details">
                <h4>{{ item.product.title }}</h4>
                <p><strong>Colour:</strong> {{ item.selected_color.name }}</p>
                <p><strong>Size:</strong> {{ item.selected_size.name }}</p>
                <p><strong>Category:</strong> {{ item.product.category }} </p>
              </div>
            </div>

            <div class="cart-right">
              <div class="quantity-box" data-index="{{ forloop.counter0 }}">
                <div style="float: left; display: flex; align-items: center; justify-content: center;">
                  <a class="minus-cart btn" pid="{{ item.product.id }}"><i class="fas fa-minus-square fa-lg"></i></a>
                  <span id="quantity" style="display: inline-block; border: 1px solid gray; width: 50px; border-radius: 3px; text-align: center;">{{ item.quantity }}</span>
                  <a class="plus-cart btn" pid="{{ item.product.id }}"><i class="fas fa-plus-square fa-lg"></i></a>
                </div>
              </div>

              <div class="icons">
                <a href="/product/{{ item.product.id }}/" class="edit" data-index="{{ forloop.counter0 }}" title="Edit">✎</a>
                <a href="#" class="remove remove_cart" pid="{{ item.product.id }}" data-index="{{ forloop.counter0 }}" title="Remove">✖</a>
                <a href="/wishlist/" class="wishlist" data-index="{{ forloop.counter0 }}" title="Add to Wishlist">♡</a>
              </div>
              <p>₹{{ item.product.price|floatformat:2 }} </p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div style="text-align: center; margin-top: 60px;">
          <h3>Your Shopping Bag is Empty</h3>
          <a href="/" style="text-decoration: underline;">« Continue Shopping</a>
        </div>
      {% endif %}
    </div>

    <div class="promo">APPLY A PROMO CODE <a>+ADD</a></div>

    {% if carts %}
    <div class="summary">
      <div class="summary-box">
        <!-- <p><strong>SUBTOTAL</strong> <span>₹ <span id="subtotal">{{ amount|floatformat:2 }}</span></span></p> -->
        <p><strong>ESTIMATED TOTAL</strong> <span>₹ <span id="total">{{ totalamount }}</span></span></p>
        <button id="total" onclick="window.location.href='{% url 'billing_address' %}'">PROCEED TO CHECKOUT</button>
      </div>
    </div>
    {% else %}
    <div class="summary">
      <div class="summary-box">
        <!-- <p><strong>SUBTOTAL</strong> <span>₹ <span id="subtotal">{{ amount|floatformat:2 }}</span></span></p> -->
        <p><strong>ESTIMATED TOTAL</strong> <span>₹ <span id="total">{{ totalamount }}</span></span></p>
        <button id="total" onclick="window.location.href='{% url 'cart' %}'">PROCEED TO CHECKOUT</button>
      </div>
    </div>
    {% endif %}

    
  </div>
</body>
{% endblock %}

{% block page_js %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.plus-cart').click(function() {
            var id = $(this).attr("pid").toString();
            console.log(id)
            var elm = this.parentNode.children[1]

            $.ajax({
                type: "GET",
                url: "/pluscart",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    console.log(data)
                    elm.innerText = data.quantity
                    document.getElementById('cartItemCount').innerText = data.TotalCartItems
                    document.getElementById('total').innerText = data.totalamount
                }
            })
        })
    })
</script>

<script>
    $(document).ready(function() {
        $('.minus-cart').click(function() {
            var id = $(this).attr("pid").toString();
            console.log(id)
            var elm = this.parentNode.children[1]

            $.ajax({
                type: "GET",
                url: "/minuscart",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    console.log(data)
                    elm.innerText = data.quantity
                    document.getElementById('total').innerText = data.totalamount
                    document.getElementById('cartItemCount').innerText = data.TotalCartItems
                }
            })
        })
    })
</script>

<script>
    $(document).ready(function() {
        $('.remove_cart').click(function() {
            var id = $(this).attr("pid").toString();
            console.log(id)
            //var elm = this.parentNode.parentNode.parentNode;

            var elm = this

            $.ajax({
                type: "GET",
                url: "/remove_cart",
                data: {
                    prod_id: id
                },
                success: function(data) {
                    document.getElementById('total').innerText = data.totalamount
                    document.getElementById('cartItemCount').innerText = data.TotalCartItems
                    elm.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.remove()
                    location.reload();
                }
            })
        })
    })
</script>






<!-- Keep your JS scripts if needed -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock page_js %}
