asgiref==3.8.1
bootstrap4==0.1.0
certifi==2025.7.9
charset-normalizer==3.4.2
Django==5.2.3
django-ckeditor==6.7.3
django-crispy-forms==2.4
django-js-asset==3.1.2
django-phonenumber-field==8.1.0
easypost==10.1.0
idna==3.10
paywix==2.0.2
phonenumbers==9.0.7
pillow==11.2.1
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
